#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Bg_status {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-SignIn_button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Register_label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-register_button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-REGISTER {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Input_4 INPUT {
  font-family: Arial;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}