#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Bg_status {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-SignIn_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 338px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-Register_label {
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-register_button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 338px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 #s-REGISTER {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0279e1f2-3ebf-4edb-8c88-3ff57d7c39c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}