#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Bg_status {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 239px;
  margin-top: -241px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-SignIn_button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-register_button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-REGISTER {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-SignIn_button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-285c1f60-b49c-4208-bb49-14ffdea2139f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}