#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Location_Name_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Location_Name_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Location_Name_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-SignIn_button {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A0A4F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1A0A4F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1A0A4F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1A0A4F;
  border-radius: 6px 6px 6px 6px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 33px;
  width: 136px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Softkeys-bg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Square_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Circle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Triangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Bg_status {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4297d7d8-239d-4eac-9c4b-b3b5e2f410e7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}