#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Softkeys-bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Bg_status {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-flat_Button_lightTheme {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-flat_Button_lightTheme_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f #s-flat_Button_lightTheme_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4c844a83-ad19-4465-b8ca-bbf2c39ecb6f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}