#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Softkeys-bg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Square_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Circle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Triangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Bg_status {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Pinmap {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-tap-button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-directions_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-tap-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-located-fixed_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Picture_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Picture_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Picture_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Picture_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce #s-Picture_17 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5cb9c467-e8a0-4a6a-adf4-379972bc55ce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}