#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-menu-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-more-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Softkeys-bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Bg_status_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-flat_Button_lightTheme {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-inbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-outbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-spam {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-forum {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-notifications {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-settings {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-settings_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Two-line-item_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-SignIn_button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-SignIn_button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-SignIn_button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-SignIn_button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-spam_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8814db86-91e7-4159-bc3e-d5b730b8738d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}