#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Softkeys-bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Bg_status {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-SignIn_button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Item-row_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-date_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b2e2785b-bba8-45e3-a624-333ebb344f68 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}