#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Location_Name_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Location_Name_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Location_Name_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Location_Name_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Location_Name_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Location_Name_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Like_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Like_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Location_Name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Softkeys-bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Bg_status {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bdf7bb69-deb3-49ce-a4f4-d658e8070a3e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}