#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Softkeys-bg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Square_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Circle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Triangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Bg_status {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Ellipse_12 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FBFBFB;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FBFBFB;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FBFBFB;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FBFBFB;
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Ellipse_8 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FBFBFB;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FBFBFB;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FBFBFB;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FBFBFB;
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Ellipse_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FBFBFB;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FBFBFB;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FBFBFB;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FBFBFB;
  -ms-transform: rotate(0.0deg);
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-be4494f9-fe70-48ad-8635-e44df86b9c87 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}