#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Like {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Like_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Location_Name {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Location_Name_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Like_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Like_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Location_Name_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Location_Name_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Like_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Like_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Location_Name_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Location_Name_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Components_panel {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-search {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Softkeys-bg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Square_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Circle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Triangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Bg_status {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Category_3-options {
  background-color: rgba(217,217,217,0.6);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-SignIn_button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 10px 10px 10px 10px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 38px;
  width: 124px;
  -ms-transform: rotate(0.0deg);
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ca14e2e3-03f7-4fa2-a584-c47e753ceeca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}