#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Softkeys-bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Bg_status {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-tap-button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-directions_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-tap-button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-located-fixed_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}