#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Softkeys-bg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Square_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Circle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Triangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Bg_status {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Pinmap {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-tap-button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-directions_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-tap-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-located-fixed_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Category_3-options {
  background-color: rgba(217,217,217,0.4);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Components_panel {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-search {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e1a80e3d-6422-4d10-8392-2955d9892c45 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}