#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Softkeys-bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_status {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}