#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_1 {
  position: absolute;
  width: 361px;
  height: 526px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_1 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_1 > svg {
  height: 526px;
  width: 361px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_1 {
  position: absolute;
  width: 363px;
  height: 519px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_1 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_1 > .paddingLayer {
  height: 517px;
  width: 361px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Panel_1 {
  width: 346px;
  height: 449px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 346px;
  height: 449px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Frend_in_list {
  position: absolute;
  width: 344px;
  height: 95px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_2 {
  position: absolute;
  width: 344px;
  height: 95px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_2 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_2 > .paddingLayer {
  height: 93px;
  width: 342px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_12 {
  position: absolute;
  width: 66px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_12 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_12 > svg {
  height: 70px;
  width: 64px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1A0A4F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1A0A4F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1A0A4F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1A0A4F;
  border-radius: 33px 33px 33px 33px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_1 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_1 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_2 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_2 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Frend_in_list_2 {
  position: absolute;
  width: 344px;
  height: 95px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_4 {
  position: absolute;
  width: 344px;
  height: 95px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_4 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_4 > .paddingLayer {
  height: 93px;
  width: 342px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_14 {
  position: absolute;
  width: 66px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_14 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_14 > svg {
  height: 70px;
  width: 64px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1A0A4F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1A0A4F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1A0A4F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1A0A4F;
  border-radius: 33px 33px 33px 33px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_7 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_7 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_8 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_8 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_9 span#rtr-s-Text_9_1 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Frend_in_list_3 {
  position: absolute;
  width: 344px;
  height: 95px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_5 {
  position: absolute;
  width: 344px;
  height: 95px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_5 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_5 > .paddingLayer {
  height: 93px;
  width: 342px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_15 {
  position: absolute;
  width: 66px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_15 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_15 > svg {
  height: 70px;
  width: 64px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1A0A4F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1A0A4F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1A0A4F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1A0A4F;
  border-radius: 33px 33px 33px 33px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_10 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_10 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_11 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_11 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_12 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_12 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Frend_in_list_4 {
  position: absolute;
  width: 344px;
  height: 95px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_6 {
  position: absolute;
  width: 344px;
  height: 95px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_6 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_6 > .paddingLayer {
  height: 93px;
  width: 342px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_16 {
  position: absolute;
  width: 66px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_16 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_16 > svg {
  height: 69px;
  width: 64px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1A0A4F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1A0A4F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1A0A4F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1A0A4F;
  border-radius: 33px 33px 33px 33px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_13 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_13 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_14 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_14 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_15 span#rtr-s-Text_15_1 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Frend_in_list_1 {
  position: absolute;
  width: 344px;
  height: 95px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_3 {
  position: absolute;
  width: 344px;
  height: 95px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_3 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_3 > .paddingLayer {
  height: 93px;
  width: 342px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_13 {
  position: absolute;
  width: 66px;
  height: 72px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_13 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Picture_13 > svg {
  height: 70px;
  width: 64px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1A0A4F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1A0A4F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1A0A4F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1A0A4F;
  border-radius: 33px 33px 33px 33px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_4 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_4 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_5 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_5 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_6 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_6 span {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #120024;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Basic_menu_and_status_bar {
  position: absolute;
  width: 360px;
  height: 640px;
  z-index: 100;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Horizontal_softkeys_1 {
  position: absolute;
  width: 360px;
  height: 48px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Softkeys-bg_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Softkeys-bg_2 {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Softkeys-bg_2 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Softkeys-bg_2 > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Softkeys-bg_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Softkeys-bg_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Softkeys-bg_2 span#rtr-s-Softkeys-bg_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Square_2 > svg {
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Square_2 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Square_2 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Square_2 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Circle_2 > svg {
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Circle_2 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Circle_2 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Circle_2 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Triangle_2 > svg {
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Triangle_2 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Triangle_2 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Triangle_2 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_top > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #1A0A4F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_top {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_top > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_top > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_top .valign {
  vertical-align: top;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_top span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_top span#rtr-s-Bg_top_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Status-bar {
  position: absolute;
  width: 360px;
  height: 20px;
  z-index: 100;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_status > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-hour {
  position: absolute;
  width: 46px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-hour > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-hour > .paddingLayer {
  height: 19px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-hour .valign {
  vertical-align: middle;
  text-align: right;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-hour span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-signals > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Group_1 {
  position: absolute;
  width: 342px;
  height: 35px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-more-vertical > svg {
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-more-vertical {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-more-vertical > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-more-vertical > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_78 > svg {
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_78 {
  position: absolute;
  width: 38px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_78 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_78 > svg {
  height: 33px;
  width: 38px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_71 > svg {
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_71 {
  position: absolute;
  width: 38px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_71 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_71 > svg {
  height: 33px;
  width: 38px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Title_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Title_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Title_1 > .clipping, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Title_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Title_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Title_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Title_1 span#rtr-s-Title_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_79 {
  position: absolute;
  width: 38px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_79 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_79 > svg {
  height: 33px;
  width: 38px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_search {
  position: absolute;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Components_panel {
  width: 0px;
  height: 44px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Components_panel > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: rgba(217,217,217,0.5);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1A0A4F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1A0A4F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1A0A4F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1A0A4F;
  border-radius: 1px 1px 1px 1px;
  box-shadow: 0px 0px 5px 0px #999999;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Components_panel td.layout {
  padding: 0px 0px 0px 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Components_panel > .layoutWrapper {
  left: 3px;
  top: 3px;
  width: 83px;
  height: 38px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Components_panel .verticalalign {
  vertical-align: top;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 input::-webkit-input-placeholder {
  color: rgba(26,10,79,0.8);
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 input::-moz-placeholder {
  color: rgba(26,10,79,0.8);
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 input:-moz-placeholder {
  color: rgba(26,10,79,0.8);
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 input:-ms-input-placeholder {
  color: rgba(26,10,79,0.8);
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 .valign {
  vertical-align: top;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 input {
  color: #1A0A4F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 5px 0px #1A0A4F;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Input_2 > .paddingLayer {
  height: 31px;
  width: 8px;
  padding-top: 13px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 51px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-search > svg {
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-search {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-search > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-search > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_72 > svg {
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_72 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_72 > img, #s-efee2608-d6be-4e6c-b82a-34655a14e8c7 #s-Image_72 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-efee2608-d6be-4e6c-b82a-34655a14e8c7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}